<section class="sesion text">
    <h2 class="header-title" style="text-transform: capitalize;">agenda telef&oacute;nica v1</h2>
    <p class="content">HTML, CSS, JavaScript</p>
</section>
<section class="text">
    <p style="padding: 0 20px;text-align: justify;">Con este proyecto intento demostrar parte de m&iacute;s conocimientos en HTML, CSS y JavaScript.</p>
    <p style="padding: 0 20px;text-align: justify;">En el CSS use diferentes dise&ntilde;os en los formularios a modo de ejemplo.</p>
    <p style="padding: 0 20px;text-align: justify;">En el JavaScript use diferentes sintaxis como modo de demostraci&oacute;n y trate de usar los diferentes almacenes de datos (var, let, const, array, object).
    Funciones globales y locales. Bucles (for in) y (for of). Iterator Object.keys() y Iterator Object.values()</p>
</section>
<section class="text">
    <p style="padding: 0 20px;text-align: center;">Creado en Diciembre de 2022. por H92BARRIOS.</p>
</section>