<section class="sesion">
  <h2>Forgotten</h2>
  <form id="recover" action="./assets/forms/api.php" method="post">
    <ul>
      <li><a id="page-login" href="#page-login">Inicia sesi&oacute;n</a></li>
      <li>
        <label for="email">Correo:</label>
        <input type="email" name="email" id="email" placeholder="Ej. hola@email.com" />
        <span class="validate"></span>
      </li>
      <li></li>
      <li></li>
      <li>
        <p>Usa esta App con confianza.</p>
      </li>
    </ul>
    <button type="submit">Recuperar</button>
    <input type="hidden" name="csrf">
    <input type="hidden" name="x_Key" id="x_Key">
  </form>
</section>