<section class="new-contact" role="modal">
  <h2 class="title">Agrega un contacto</h2>
  <ul>
    <li>
      <label for="name">Nombre:</label>
      <input type="text" name="name" id="name" />
      <div class="validate"></div>
    </li>
    <li>
      <label for="name">Numero:</label>
      <input type="number" name="phone" id="phone" />
      <div class="validate"></div>
    </li>
    <li>
      <label for="name">Pais:</label>
      <input type="text" name="country" id="country" />
      <div class="validate"></div>
    </li>
  </ul>
  <button type="button">Cerrar</button>
  <button type="reset">Limpiar</button>
  <button type="submit">Guardar</button>
</section>
